<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Identifier</key>
    <string>com.ericmeyer.ocslim</string>
    <key>Kind</key>
    <string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
    <key>Definitions</key>
    <dict>
      <key>cslim/src/Com/SocketServer.c</key>
      <dict>
        <key>Group</key>
        <array>
          <string>cslim</string>
          <string>src</string>
          <string>Com</string>
        </array>
        <key>Path</key>
        <string>cslim/src/Com/SocketServer.c</string>
      </dict>
      <key>cslim/src/Com/TcpComLink.c</key>
      <dict>
        <key>Group</key>
        <array>
          <string>cslim</string>
          <string>src</string>
          <string>Com</string>
        </array>
        <key>Path</key>
        <string>cslim/src/Com/TcpComLink.c</string>
      </dict>
      <key>cslim/src/CSlim/ListExecutor.c</key>
      <dict>
        <key>Group</key>
        <array>
          <string>cslim</string>
          <string>src</string>
          <string>CSlim</string>
        </array>
        <key>Path</key>
        <string>cslim/src/CSlim/ListExecutor.c</string>
      </dict>
      <key>cslim/src/CSlim/Slim.c</key>
      <dict>
        <key>Group</key>
        <array>
          <string>cslim</string>
          <string>src</string>
          <string>CSlim</string>
        </array>
        <key>Path</key>
        <string>cslim/src/CSlim/Slim.c</string>
      </dict>
      <key>cslim/src/CSlim/SlimConnectionHandler.c</key>
      <dict>
        <key>Group</key>
        <array>
          <string>cslim</string>
          <string>src</string>
          <string>CSlim</string>
        </array>
        <key>Path</key>
        <string>cslim/src/CSlim/SlimConnectionHandler.c</string>
      </dict>
      <key>cslim/src/CSlim/SlimList.c</key>
      <dict>
        <key>Group</key>
        <array>
          <string>cslim</string>
          <string>src</string>
          <string>CSlim</string>
        </array>
        <key>Path</key>
        <string>cslim/src/CSlim/SlimList.c</string>
      </dict>
      <key>cslim/src/CSlim/SlimListDeserializer.c</key>
      <dict>
        <key>Group</key>
        <array>
          <string>cslim</string>
          <string>src</string>
          <string>CSlim</string>
        </array>
        <key>Path</key>
        <string>cslim/src/CSlim/SlimListDeserializer.c</string>
      </dict>
      <key>cslim/src/CSlim/SlimListSerializer.c</key>
      <dict>
        <key>Group</key>
        <array>
          <string>cslim</string>
          <string>src</string>
          <string>CSlim</string>
        </array>
        <key>Path</key>
        <string>cslim/src/CSlim/SlimListSerializer.c</string>
      </dict>
      <key>cslim/src/CSlim/SlimUtil.c</key>
      <dict>
        <key>Group</key>
        <array>
          <string>cslim</string>
          <string>src</string>
          <string>CSlim</string>
        </array>
        <key>Path</key>
        <string>cslim/src/CSlim/SlimUtil.c</string>
      </dict>
      <key>cslim/src/ExecutorObjectiveC/StatementExecutor.m</key>
      <dict>
        <key>Group</key>
        <array>
          <string>cslim</string>
          <string>src</string>
          <string>ExecutorObjectiveC</string>
        </array>
        <key>Path</key>
        <string>cslim/src/ExecutorObjectiveC/StatementExecutor.m</string>
      </dict>
      <key>cslim/include/Com/SocketServer.h</key>
      <dict>
        <key>Group</key>
        <array>
          <string>cslim</string>
          <string>include</string>
          <string>Com</string>
        </array>
        <key>Path</key>
        <string>cslim/include/Com/SocketServer.h</string>
      </dict>
      <key>cslim/include/Com/TcpComLink.h</key>
      <dict>
        <key>Group</key>
        <array>
          <string>cslim</string>
          <string>include</string>
          <string>Com</string>
        </array>
        <key>Path</key>
        <string>cslim/include/Com/TcpComLink.h</string>
      </dict>
      <key>cslim/include/CSlim/Fixtures.h</key>
      <dict>
        <key>Group</key>
        <array>
          <string>cslim</string>
          <string>include</string>
          <string>CSlim</string>
        </array>
        <key>Path</key>
        <string>cslim/include/CSlim/Fixtures.h</string>
      </dict>
      <key>cslim/include/CSlim/ListExecutor.h</key>
      <dict>
        <key>Group</key>
        <array>
          <string>cslim</string>
          <string>include</string>
          <string>CSlim</string>
        </array>
        <key>Path</key>
        <string>cslim/include/CSlim/ListExecutor.h</string>
      </dict>
      <key>cslim/include/CSlim/Slim.h</key>
      <dict>
        <key>Group</key>
        <array>
          <string>cslim</string>
          <string>include</string>
          <string>CSlim</string>
        </array>
        <key>Path</key>
        <string>cslim/include/CSlim/Slim.h</string>
      </dict>
      <key>cslim/include/CSlim/SlimConnectionHandler.h</key>
      <dict>
        <key>Group</key>
        <array>
          <string>cslim</string>
          <string>include</string>
          <string>CSlim</string>
        </array>
        <key>Path</key>
        <string>cslim/include/CSlim/SlimConnectionHandler.h</string>
      </dict>
      <key>cslim/include/CSlim/SlimList.h</key>
      <dict>
        <key>Group</key>
        <array>
          <string>cslim</string>
          <string>include</string>
          <string>CSlim</string>
        </array>
        <key>Path</key>
        <string>cslim/include/CSlim/SlimList.h</string>
      </dict>
      <key>cslim/include/CSlim/SlimListDeserializer.h</key>
      <dict>
        <key>Group</key>
        <array>
          <string>cslim</string>
          <string>include</string>
          <string>CSlim</string>
        </array>
        <key>Path</key>
        <string>cslim/include/CSlim/SlimListDeserializer.h</string>
      </dict>
      <key>cslim/include/CSlim/SlimListSerializer.h</key>
      <dict>
        <key>Group</key>
        <array>
          <string>cslim</string>
          <string>include</string>
          <string>CSlim</string>
        </array>
        <key>Path</key>
        <string>cslim/include/CSlim/SlimListSerializer.h</string>
      </dict>
      <key>cslim/include/CSlim/SlimUtil.h</key>
      <dict>
        <key>Group</key>
        <array>
          <string>cslim</string>
          <string>include</string>
          <string>CSlim</string>
        </array>
        <key>Path</key>
        <string>cslim/include/CSlim/SlimUtil.h</string>
      </dict>
      <key>cslim/include/CSlim/StatementExecutor.h</key>
      <dict>
        <key>Group</key>
        <array>
          <string>cslim</string>
          <string>include</string>
          <string>CSlim</string>
        </array>
        <key>Path</key>
        <string>cslim/include/CSlim/StatementExecutor.h</string>
      </dict>
      <key>cslim/include/ExecutorC/SymbolTable.h</key>
      <dict>
        <key>Group</key>
        <array>
          <string>cslim</string>
          <string>include</string>
          <string>ExecutorC</string>
        </array>
        <key>Path</key>
        <string>cslim/include/ExecutorC/SymbolTable.h</string>
      </dict>
    </dict>
    <key>Nodes</key>
    <array>
      <string>cslim/src/Com/SocketServer.c</string>
      <string>cslim/src/Com/TcpComLink.c</string>
      <string>cslim/src/CSlim/ListExecutor.c</string>
      <string>cslim/src/CSlim/Slim.c</string>
      <string>cslim/src/CSlim/SlimConnectionHandler.c</string>
      <string>cslim/src/CSlim/SlimList.c</string>
      <string>cslim/src/CSlim/SlimListDeserializer.c</string>
      <string>cslim/src/CSlim/SlimListSerializer.c</string>
      <string>cslim/src/CSlim/SlimUtil.c</string>
      <string>cslim/src/ExecutorObjectiveC/StatementExecutor.m</string>
      <string>cslim/include/Com/SocketServer.h</string>
      <string>cslim/include/Com/TcpComLink.h</string>
      <string>cslim/include/CSlim/Fixtures.h</string>
      <string>cslim/include/CSlim/ListExecutor.h</string>
      <string>cslim/include/CSlim/Slim.h</string>
      <string>cslim/include/CSlim/SlimConnectionHandler.h</string>
      <string>cslim/include/CSlim/SlimList.h</string>
      <string>cslim/include/CSlim/SlimListDeserializer.h</string>
      <string>cslim/include/CSlim/SlimListSerializer.h</string>
      <string>cslim/include/CSlim/SlimUtil.h</string>
      <string>cslim/include/CSlim/StatementExecutor.h</string>
      <string>cslim/include/ExecutorC/SymbolTable.h</string>
    </array>
  </dict>
</plist>
